.container {
  position: fixed;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  left: 0px;
  width: 100vw;
  border-top: 1px solid rgb(30, 30, 30);
}
.content {
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
}
.content button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 22px;
  margin-right: 10px;
  width: 40px;
}
.content button:hover {
  background-color: gray;
}
