@media only screen and (min-width: 901px) {
  .footer {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    border-top: 1px solid rgb(40, 40, 40);
    z-index: 1000;
  }
  .footer_content {
    max-width: 1200px;
    margin: auto;
  }
  .footer_content > h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .footer {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    border-top: 1px solid rgb(40, 40, 40);
    z-index: 1000;
  }
  .footer_content {
    max-width: 1200px;
    margin: auto;
  }
}
