@media only screen and (min-width: 901px) {
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .content_container {
    display: flex;
  }
  .input_container {
    display: flex;
    flex-direction: column;
  }
  .header {
    position: sticky;
    top: 70px;
    height: 80px;
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(5px);
    z-index: 10;
    border-bottom: 1px solid rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title_input {
    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 13px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .input {
    /* min-height: 100%; */
    width: 600px;
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 13px;
  }
  .input:focus,
  .title_input:focus {
    outline: 1px solid gray;
  }
  .post_preview {
    flex: 1;
    padding: 15px;
    max-width: calc(50% - 10px);
  }
  .error_image {
    height: 200px;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    margin: auto;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .content_container {
    display: flex;
    flex-direction: column;
  }
  .input_container {
    display: flex;
    flex-direction: column;
  }
  .header {
    position: sticky;
    top: 50px;
    height: 80px;
    padding: 10px;
    background-color: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(5px);
    z-index: 10;
    border-bottom: 1px solid rgb(50, 50, 50);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title_input {
    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 13px;
    margin-bottom: 15px;
  }
  .input {
    width: 100%;

    padding: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 13px;
    height: 200px;
  }
  .input:focus,
  .title_input:focus {
    outline: 1px solid gray;
  }
  .post_preview {
    max-width: 100%;
    margin-top: 20px;
  }
  .post_preview > h5 {
    display: none;
  }
  .error_image {
    height: 200px;
  }
}
