@media only screen and (min-width: 901px) {
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
  }
  .alert_container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .post_title {
    font-size: 4rem;
  }
  .post_container {
    width: calc(100% - 120px);
    margin-left: 0px;
    padding-left: 50px;
    border-left: 1px solid rgb(50, 50, 50);
  }
  .votes_container {
    padding: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 100px;
    height: 100%;
  }
  .upVote_icon,
  .downVote_icon,
  .downVote_icon_active,
  .upVote_icon_active {
    /* font-size: 20px; */
    height: 30px;
    width: 30px;
    transition: 100ms;
  }
  .upVote_icon_active,
  .downVote_icon_active {
    cursor: pointer;
  }
  .upVote_icon_active {
    color: orangered;
  }
  .downVote_icon_active {
    color: royalblue;
  }
  .upVote_icon:hover {
    cursor: pointer;
    transition: 100ms;
    color: orangered;
  }
  .downVote_icon:hover {
    cursor: pointer;
    transition: 100ms;
    color: royalblue;
  }
  .views_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .edited_tag {
    background-color: rgb(30, 30, 30);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .views_edit {
    display: flex;
    align-items: center;
  }
  .delete_edit_button > button {
    margin-left: 10px;
    width: 100px;
  }
  .error_image {
    height: 200px;
  }
}
@media only screen and (max-width: 900px) {
}
