@media only screen and (min-width: 901px) {
  .user_card_container {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 50);
    margin-bottom: 15px;
    display: flex;
    cursor: pointer;
  }
  .user_card_container:hover {
    border: 1px solid rgb(70, 70, 70);
  }
  .user_card_content {
    margin-left: 15px;
  }
  .user_card_header {
    display: flex;
    align-items: center;
  }
  .user_card_header > span {
    margin-left: 10px;
    color: orangered;
  }
}
@media only screen and (max-width: 900px) {
  .user_card_container {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(50, 50, 50);
    margin-bottom: 15px;
    display: flex;
  }
  .user_card_container:hover {
    border: 1px solid rgb(70, 70, 70);
  }
  .user_card_content {
    margin-left: 15px;
  }
  .user_card_header {
    display: flex;
    align-items: center;
  }
  .user_card_header > span {
    margin-left: 10px;
    color: orangered;
  }
}
