@media only screen and (min-width: 901px) {
  .markdown_container {
    padding: 15px;
    background-color: rgb(20, 20, 20);
    margin-top: 5px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 900px) {
  .markdown_container {
    padding: 10px;
    background-color: rgb(20, 20, 20);
    margin-top: 5px;
    border-radius: 5px;
  }
}
