@media only screen and (min-width: 901px) {
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .avatar_name_container {
    display: flex;
    align-items: center;
  }
  .name_header {
    margin-left: 20px !important;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    margin: auto;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;
  }
  .avatar_name_container {
    display: flex;
    align-items: center;
  }
  .name_header {
    margin-left: 20px !important;
  }
}
