.followers_button {
  cursor: pointer;
}

@media only screen and (min-width: 901px) {
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .avatar_name_container {
    display: flex;
    align-items: center;
  }
  .name_header {
    margin-left: 20px !important;
  }
  .followers_container {
    display: flex;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
    justify-content: space-around;
    max-width: 300px;
  }
  .followers_container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 20px; */
  }
}
@media only screen and (max-width: 900px) {
  .container {
    margin: auto;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    overflow: hidden;
  }
  .avatar_name_container {
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name_header {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
  .followers_container {
    display: flex;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(50, 50, 50);
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  .followers_container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 20px; */
  }
}
