@media only screen and (min-width: 901px) {
  .container {
    border-left: 1px solid rgb(50, 50, 50);
    padding: 20px;
    padding-left: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    padding-right: 0px;
  }
  .comment_header {
    color: rgb(200, 200, 200);
    font-size: 14px;
  }
  .votes_container {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .votes_disabled {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    pointer-events: none;
  }
  .upVote_icon,
  .downVote_icon,
  .downVote_icon_active,
  .upVote_icon_active {
    /* font-size: 20px; */
    height: 30px;
    width: 30px;
    transition: 100ms;
  }
  .upVote_icon_active,
  .downVote_icon_active {
    cursor: pointer;
  }
  .upVote_icon_active {
    color: orangered;
  }
  .downVote_icon_active {
    color: royalblue;
  }
  .upVote_icon:hover {
    cursor: pointer;
    transition: 100ms;
    color: orangered;
  }
  .downVote_icon:hover {
    cursor: pointer;
    transition: 100ms;
    color: royalblue;
  }
  .content_container {
    width: calc(100%);
  }
  .reply_button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
    margin-right: 20px;
  }
  .reply_button:hover {
    opacity: 0.7;
    transition: 200ms;
  }
  .reply_icon {
    font-size: 25px;
    margin-right: 5px;
  }
  .reply_text_area {
    background-color: rgb(30, 30, 30);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    min-height: 30px;
    width: calc(100%);
    margin-right: 10px;
  }
  .post_reply_button {
    float: right;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  .write_reply {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .comment_buttons {
    display: flex;
    align-items: center;
  }
  .comment_buttons_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .edited_tag {
    margin-left: 10px;
    background-color: rgb(30, 30, 30);
    padding: 10px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 900px) {
}
