@media only screen and (min-width: 901px) {
  .header {
    padding: 20px;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgb(40, 40, 40);
    z-index: 1000;
    /* backdrop-filter: blur(10px); */
  }
  .header_content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .name_container {
    position: relative;
  }
  .name_container_name {
    cursor: pointer;
    display: flex;
    transition: 200ms;
    align-items: center;
  }

  .up_arrow,
  .down_arrow {
    font-size: 30px;
    transition: 200ms;
  }
  .up_arrow {
    transform: rotateX(180deg);
  }
  .popup_open {
    position: absolute;
    z-index: 1005;
    background-color: black;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid rgb(50, 50, 50);
    top: 40px;
    right: 0px;
    transition: 200ms;
    width: 300px;
  }
  .popup_closed {
    position: absolute;
    z-index: 1003;
    background-color: black;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid rgb(50, 50, 50);
    top: 40px;
    right: 0px;
    transition: 200ms;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
    width: 300px;
  }
  .popup_bg_open {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    left: 0px;
    top: 0px;
    transition: 200ms;
  }
  .popup_bg_closed {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    left: 0px;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: 200ms;
  }
  .logout_button {
    width: 100%;
  }
  .popup_menu_items {
    list-style-type: none;
    padding: 0px;
  }
  .popup_menu_item {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
  }
  .popup_menu_item:hover {
    border: 1px solid rgb(50, 50, 50);
  }
  .header_left_container {
    display: flex;
    align-items: center;
  }
  .search_bar_container {
    margin-left: 20px;
    display: flex;
    justify-content: center;
  }
  .search_bar {
    background-color: rgb(30, 30, 30);
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
    flex: 1;
    width: 600px;
    max-width: 600px;
    /* margin-right: 50px; */
    color: white;
    padding-right: 50px;
  }
  .search_submit_button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    margin: none;
    margin-left: -50px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .header {
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgb(40, 40, 40);
    z-index: 1000;
    /* backdrop-filter: blur(10px); */
  }
  .header_content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .header_content > h4 {
    font-size: 14px;
  }
  .name_container {
    position: relative;
  }
  .name_container_name > h5 {
    font-size: 14px;
    display: none;
  }
  .name_container_name {
    cursor: pointer;
    display: flex;
    transition: 200ms;
    align-items: center;
  }

  .up_arrow,
  .down_arrow {
    display: none;
  }
  .burger_button {
    height: 3rem;
    width: 3rem;
    padding: 10px;
    padding-bottom: 3px;
  }

  .popup_open {
    position: absolute;
    z-index: 1005;
    background-color: black;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid rgb(50, 50, 50);
    top: 40px;
    right: 0px;
    transition: 200ms;
    width: 300px;
  }
  .popup_closed {
    position: absolute;
    z-index: 1003;
    background-color: black;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid rgb(50, 50, 50);
    top: 40px;
    right: 0px;
    transition: 200ms;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.9);
    width: 300px;
  }
  .popup_bg_open {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    left: 0px;
    top: 0px;
    transition: 200ms;
  }
  .popup_bg_closed {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    left: 0px;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    transition: 200ms;
  }
  .logout_button {
    width: 100%;
  }
  .popup_menu_items {
    list-style-type: none;
    padding: 0px;
  }
  .popup_menu_item {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
  }
  .popup_menu_item:hover {
    border: 1px solid rgb(50, 50, 50);
  }
  .header_left_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .search_bar_container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .search_bar {
    background-color: rgb(30, 30, 30);
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 5px;
    flex: 1;
    margin-right: 30px;
    max-width: 100%;
    color: white;
    padding-right: 50px;
    margin-top: 5px;
    height: 40px;
  }
  .search_submit_button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
    margin: none;
    margin-left: -70px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
