html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: rgb(10, 10, 10) !important;
  color: white !important;
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
ol {
  margin: 0px !important;
}

hr {
  height: 1px;
  color: rgb(40, 40, 40);
  background: rgb(40, 40, 40);
  font-size: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
